<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiSSO - Restaurant Coréen à Paris</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'utilisateurs/accueil.css' %}">
    <link rel="stylesheet" href="{% static 'utilisateurs/navigation.css' %}">
    <link rel="icon" type="image/png" href="{% static 'restaurant/img/misso_logo_old.jpg' %}">
</head>    
<body>
    <header>
        <nav>
            <div class="logo"> MiSSO </div>
            <ul>
                <li><a href="{% url 'accueil' %}#accueil">Accueil</a></li>
                <li><a href="{% url 'traiteur' %}">Traiteur</a></li>
                <li><a href="{% url 'hanok' %}">Hanok Restaurant</a></li>
                <li><a href="{% url 'terrasse' %}">Terrasse</a></li>
                <li><a href="{% url 'evenements' %}">Evenements</a></li> 
                <li><a href="{% url 'institut' %}">Institut</a></li>                 
                <li><a href="{% url 'histoire' %}">À propos</a></li>
                <li><a href="{% url 'accueil' %}#contact">Contact</a></li>
                <li>
                    {% if user.is_authenticated %}
                        <a href="{% url 'profil' %}" class="btns">Profil</a>
                    {% else %}
                        <a href="{% url 'connexion' %}" class="btns">Se connecter</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </header>
    <div class="main">
    <div class="top"  onclick='location.href="{% url 'traiteur'  %}";'>
        <h2>MiSSO Corée </h2>
        <h3>Le goût qui vous fait sourire</3>
         <p> 27 rue du Moulin des Prés 75013 Paris</p>
        </div>
     <div class="center" onclick='location.href="{% url 'histoire'  %}";'>
         <img src= "{% static 'restaurant/img/misso_logo_old.jpg' %}" alt="logo">
         <h1>Since 2006</h1>
         <p></p>
    </div>
   <div class="right" onclick='location.href="{% url 'evenements'  %}";'>
       <h2>Evenements </h2>
       <h3>Concerts, buffets, marriages, réceptions ...</h3>
        <p> </p>
       </div>
   <div class="left" onclick='location.href="{% url 'institut'  %}";'>
       <h2>Institut du Goût Coréen en France</h2>
       <h3>Culture et Cuisine Coréenne en France</h3>
        <p> </p>
       </div>
   <div class="bottom" onclick='location.href="{% url 'terrasse'  %}";'>
       <h2>La Terrasse</h2>
       <h3>Au Musée Guimet des Arts Asiatiques</h3>
        <p> </p>
       </div>
   <div class="bottom-left" onclick='location.href="{% url 'hanok'  %}";' >
       <h2>Hanok Restaurant</h2>
       <h3>Au Musée Guimet des Arts Asiatiques</h3>
        <p> </p>
       </div>
     </div>
    <section id="contact" class="contact">
        <h2>Nous contacter</h2>
        <p>📍 **123 Rue des Délices, 75013 Paris, France**</p>
        <p>📞 **+33 1 23 45 67 89**</p>
        <p>📧 **contact@misso-paris.fr**</p>
    </section>

    <footer>
        <p>&copy; 2025 MiSSO - Culture et Cuisine Coréenne en France | Tous droits réservés</p>
    </footer>
</body>
</html>
