<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiSSO - Restaurant Coréen à Paris</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'utilisateurs/accueil.css' %}">
    <link rel="stylesheet" href="{% static 'utilisateurs/navigation.css' %}">
    <link rel="icon" type="image/png" href="{% static 'restaurant/img/misso_logo_old.jpg' %}">
</head>    
<body>
    <header>
        <nav>
            <div class="logo">         
                <a href="{% url 'page_view' 'accueil' %}#accueil">
                  <img class="mini_logo" src="{% static 'restaurant/img/logo_jaune.png' %}" alt="MiSSO"/>
                </a>
            </div>
                <span onclick="show()"  class="nav-menu-icon" id="nav-menu-icon">☰ </span> 
                <div id="nav-menu" class="nav-menu">
                <ul >
                <li><a href="{% url 'menu' 'traiteur' %}">Traiteur</a></li>
                <li><a href="{% url 'menu' 'hanok' %}">Hanok Restaurant</a></li>
                <li><a href="{% url 'menu' 'rooftop' %}">Terrasse</a></li>
                <li><a href="{% url 'evenements' %}">Evenements</a></li> 
                <li><a href="{% url 'page_view' 'institut'%}">Institut</a></li>                 
                <li><a href="{% url 'page_view' 'a-propos' %}">À propos</a></li>
                <li ><a href="{% url 'recherche' %}">Recherche</a></li>
                <li ><a href="{% url 'page_view' 'accueil' %}#contact">Contact</a></li>
                {% if user.is_authenticated %}
                  <li>  <a href="{% url 'profil' %}" class="btns">Profil</a></li>
                {% else %}
                    <li>   <a href="{% url 'connexion' %}" class="btns">Se connecter</a></li>
                {% endif %}
                </ul>
                </div>
        </nav>
        <script>
            function show() {
                var menu = document.getElementById("nav-menu");
                var icon = document.getElementById("nav-menu-icon");
                if (menu.style.display === "none") {
                     menu.style.display = "block";
                     icon.style.color = "white"; 
                } else {
                        menu.style.display = "none";
                        icon.style.color = "rgb(218, 141, 32)"; 
                 
                }
            }
        </script>
    </header>    
    <div class="main">
    <div id="histoire" onclick='location.href="{% url 'histoire'  %}";'>
        <img src= "{% static 'restaurant/img/misso_logo_old.jpg' %}" alt="logo">
        <h1>Since 2006</h1>
        <p></p>
    </div>
    <div  id="evenements"   onclick='location.href="{% url 'evenements'  %}";'>
    <p class="text-content"><h2>Evenements </h2>
       <h3>Concerts, buffets, marriages, réceptions ...</h3>
        </p>
        <img class="image-content" src="{% static 'restaurant/img/event.jpg' %}" alt="Evenements" >
       </div>
    <div  class="restaurants">
    <div id="traiteur"    onclick='location.href="{% url 'menu' 'traiteur' %}";'>
        <p class="text-content">  <h2>MiSSO Corée </h2>
        <h3>Le goût qui vous fait sourire</3>
         27 rue du Moulin des Prés 75013 Paris</p>
         <img class="image-content" src="{% static 'restaurant/img/traiteur.jpg' %}" alt="Traiteur" >
        </div>
        <div id="hanok" onclick='location.href="{% url 'menu' 'hanok' %}";' >
            <p class="text-content">  <h2>Hanok Restaurant</h2>
               <h3>Au Musée Guimet des Arts Asiatiques</h3>
                 </p>  
                 <img class="image-content" src="{% static 'restaurant/img/hanok_28.jpg' %}" alt="Hanok Restaurant" >
               </div>
    <div id="rooftop" onclick='location.href="{% url 'menu' 'rooftop' %}";'>
    <p class="text-content"><h2>Guimet Rooftop</h2>
       <h3>Au Musée Guimet des Arts Asiatiques</h3>
       </p>
        <img class="image-content" src="{% static 'restaurant/img/rooftop.jpg' %}" alt="Guimet Rooftop" >
       </div>

    </div>
    
    <div  id="institut"   onclick='location.href="{% url 'institut'  %}";'>
        <p class="text-content"><h2>Institut du Goût Coréen en France</h2>
           <h3>Culture et Cuisine Coréenne en France</h3>
            </p>
            <img class="image-content" src="{% static 'restaurant/img/placeholder.jpg' %}" alt="Institut" >
           </div>
    </div>

    <script>
        
        function toggleContent(targetId) {
            
            var targetDiv = document.getElementById(targetId);
            
            
            var textContent = targetDiv.querySelector('.text-content');
            var imageContent = targetDiv.querySelector('.image-content');
            
           
            if (textContent.style.display === "none") {
                textContent.style.display = "block";
                imageContent.style.display = "none";
            } else {
                textContent.style.display = "none";
                imageContent.style.display = "block";
            }
        }
    </script>
    
    <section id="contact" class="contact">
        <h2>Nous contacter</h2>
        <p>📍 **123 Rue des Délices, 75013 Paris, France**</p>
        <p>📞 **+33 1 23 45 67 89**</p>
        <p>📧 **contact@misso-paris.fr**</p>
    </section>

    <footer>
        <p>&copy; 2025 MiSSO - Culture et Cuisine Coréenne en France | Tous droits réservés</p>
    </footer>
</body>
</html>
