<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'utilisateurs/style.css' %}">
    <link rel="stylesheet" href="{% static 'utilisateurs/navigation.css' %}">
    <link rel="icon" type="image/png" href="{% static 'restaurant/img/misso_logo_old.jpg' %}">
</head>
<header>
    <nav>
        <div class="logo"> Misso</div>
        <ul>
                <li><a href="{% url 'accueil' %}#accueil">Accueil</a></li>
                <li><a href="{% url 'traiteur' %}">Traiteur</a></li>
                <li><a href="{% url 'hanok' %}">Hanok Restaurant</a></li>
                <li><a href="{% url 'terrasse' %}">Terrasse</a></li>
                <li><a href="{% url 'evenements' %}">Evenements</a></li> 
                <li><a href="{% url 'institut' %}">Institut</a></li>                 
                <li><a href="{% url 'histoire' %}">À propos</a></li>
                <li><a href="{% url 'accueil' %}#contact">Contact</a></li>
                <li><a href="{% url 'connexion' %}" class="btns">Se connecter</a></li>
            </ul>
    </nav>
</header>
<body>
    <div class="container">
        <h2>Connexion</h2>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="identifiant" placeholder="Nom d'utilisateur ou Email" required>
            <input type="password" name="password" placeholder="Mot de passe" required>
            <button type="submit" class="btn">Se connecter</button>
        </form>
        <p class="login-link">Pas encore inscrit ? <a href="{% url 'inscription' %}">Créez un compte</a></p>
    </div>
</body>
</html>
