<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiSSO - Restaurant Coréen à Paris</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'utilisateurs/hanok.css' %}">
    <link rel="stylesheet" href="{% static 'utilisateurs/navigation.css' %}">
    <link rel="icon" type="image/png" href="{% static 'restaurant/img/misso_logo_old.jpg' %}">
</head>    
<body>
    <header>
        <nav>
            <div class="logo"> MiSSO </div>
            <ul>
                <li><a href="{% url 'accueil' %}">Accueil</a></li>
                <li><a href="{% url 'traiteur' %}">Traiteur</a></li>
                <li><a href="{% url 'hanok' %}">Hanok Restaurant</a></li>
                <li><a href="{% url 'terrasse' %}">Terrasse</a></li>
                <li><a href="{% url 'evenements' %}">Evenements</a></li> 
                <li><a href="{% url 'institut' %}">Institut</a></li>                 
                <li><a href="{% url 'histoire' %}">À propos</a></li>
                <li><a href="{% url 'accueil' %}#contact">Contact</a></li>
                <li>
                    {% if user.is_authenticated %}
                        <a href="{% url 'profil' %}" class="btns">Profil</a>
                    {% else %}
                        <a href="{% url 'connexion' %}" class="btns">Se connecter</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </header>
    <h1 class="title"> Hanok Restaurant, <br>le meilleur de la gastronomie coréenne</h1>
    <div class="main">
      <p> 

        <br>   Évocation des hanok (한옥), habitations coréennes traditionnelles en bois, chaleureuses et ouvertes sur la nature, le restaurant du musée Guimet vous propose une pause hors du temps dans un cadre sobre et élégant.
            
            <br>  Derrière la porte dont les motifs reprennent ceux du palais royal de Gyeongbok à Séoul, la cuisine de Misso célèbre l’authenticité des saveurs coréennes, avec des plats qui éveillent les sens, invitent au voyage et racontent l’histoire d’une gastronomie millénaire.
            
            <br>   Créé en 2006 par la cheffe coréenne Young Kyoung Lee, Misso (qui signifie  « sourire ») propose une cuisine traditionnelle et familiale, inspirée des recettes ancestrales transmises par sa mère.
            
            <br>  Hanok restaurant est ouvert toute la journée, et vous accueille également pour déguster un thé, un café, une boisson, une glace ou une pâtisserie coréenne.
            
          <br>  Horaires d'ouverture :
            
            <br>Du lundi au dimanche sauf le mardi, de 10h à 18h
            
            <br> Réservations : hanok.misso@gmail.com / 01 56 52 53 55
            </p>
            <img src="{% static 'restaurant/img/hanok_28.jpg' %}" alt="Hanok restaurant" style="max-width:800px; max-height:600px;">
    </div>
      {% include 'partials/menu.html' %}


</section>
     </div>
    <section id="contact" class="contact">
        <h2>Nous contacter</h2>
        <p>📍 **123 Rue des Délices, 75013 Paris, France**</p>
        <p>📞 **+33 1 23 45 67 89**</p>
        <p>📧 **contact@misso-paris.fr**</p>
    </section>

    <footer>
        <p>&copy; 2025 Misso - Culture et Cuisine Coréenne en France | Tous droits réservés</p>
    </footer>
</body>
</html>
