<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'utilisateurs/style.css' %}">
    <link rel="stylesheet" href="{% static 'utilisateurs/navigation.css' %}">
</head>
<header>
    <nav>
        <div class="logo">🥢 Misso</div>
        <ul>
                <li><a href="{% url 'accueil' %}">Accueil</a></li>
                <li><a href="{% url 'traiteur' %}">Traiteur</a></li>
                <li><a href="{% url 'hanok' %}">Hanok Restaurant</a></li>
                <li><a href="{% url 'terrasse' %}">Terrasse</a></li>
                <li><a href="{% url 'evenements' %}">Evenements</a></li> 
                <li><a href="{% url 'institut' %}">Institut</a></li>                 
                <li><a href="{% url 'histoire' %}">À propos</a></li>
                <li><a href="{% url 'accueil' %}#contact">Contact</a></li>
                <li><a href="{% url 'connexion' %}" class="btns">Se connecter</a></li>
        </ul>
    </nav>
</header>
<body>
    <div class="container">
        <h2>Inscription</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn">S'inscrire</button>
        </form>
        <p class="login-link">Déjà inscrit ? <a href="{% url 'connexion' %}">Connectez-vous</a></p>
    </div>
</body>
</html>
