<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'utilisateurs/style.css' %}">
    <link rel="stylesheet" href="{% static 'utilisateurs/navigation.css' %}">
</head>
<header>
    <nav>
        <div class="logo">         
            <a href="{% url 'page_view' 'accueil' %}#accueil">
              <img class="mini_logo" src="{% static 'restaurant/img/logo_jaune.png' %}" alt="MiSSO"/>
            </a>
        </div>
        <ul>
            <li><a href="{% url 'menu' 'traiteur' %}">Traiteur</a></li>
            <li><a href="{% url 'menu' 'hanok' %}">Hanok Restaurant</a></li>
            <li><a href="{% url 'menu' 'rooftop' %}">Terrasse</a></li>
            <li><a href="{% url 'evenements' %}">Evenements</a></li> 
            <li><a href="{% url 'page_view' 'institut'%}">Institut</a></li>                 
            <li><a href="{% url 'page_view' 'a-propos' %}">À propos</a></li>
            <li><a href="{% url 'recherche' %}">Recherche</a></li>
            <li><a href="{% url 'page_view' 'accueil' %}#contact">Contact</a></li>
            <li>
                {% if user.is_authenticated %}
                    <a href="{% url 'profil' %}" class="btns">Profil</a>
                {% else %}
                    <a href="{% url 'connexion' %}" class="btns">Se connecter</a>
                {% endif %}
            </li>
        </ul>
    </nav>
</header>    
<body>
    <div class="container">
        <h2>Inscription</h2>
        <form method="post" id="inscription-form">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn" id="submit-button">S'inscrire</button>
        </form>
        <p class="login-link">Déjà inscrit ? <a href="{% url 'connexion' %}">Connectez-vous</a></p>
    </div>

    <script>
        document.getElementById('inscription-form').addEventListener('submit', function() {
            document.getElementById('submit-button').disabled = true;
            document.getElementById('submit-button').innerText = "En cours...";
        });
    </script>
</body>
</html>
