<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'utilisateurs/style.css' %}">
    <link rel="stylesheet" href="{% static 'utilisateurs/navigation.css' %}">
    <link rel="icon" type="image/png" href="{% static 'restaurant/img/misso_logo_old.jpg' %}">
</head>
<header>
    <nav>
        <div class="logo"> MiSSO </div>
        <ul>
            <li><a href="{% url 'accueil' %}#accueil">Accueil</a></li>
            <li><a href="{% url 'menu' 'traiteur' %}">Traiteur</a></li>
            <li><a href="{% url 'menu' 'hanok' %}">Hanok Restaurant</a></li>
            <li><a href="{% url 'menu' 'rooftop' %}">Terrasse</a></li>
            <li><a href="{% url 'evenements' %}">Evenements</a></li> 
            <li><a href="{% url 'institut' %}">Institut</a></li>                 
            <li><a href="{% url 'histoire' %}">À propos</a></li>
            <li><a href="{% url 'accueil' %}#contact">Contact</a></li>
            <li>
                {% if user.is_authenticated %}
                    <a href="{% url 'profil' %}" class="btns">Profil</a>
                {% else %}
                    <a href="{% url 'connexion' %}" class="btns">Se connecter</a>
                {% endif %}
            </li>
        </ul>
    </nav>
</header>    
<body>
    <div class="container">
        <h2>Bonjour, {{ user.username }} ! 👋</h2>
        
        <!-- Bouton Réserver ajouté ici -->
        <a href="{% url 'reservation' %}" class="btn reserve-btn">Réserver</a>
        <a href="{% url 'modifier_profil' %}" class="btn">Modifier le profil</a>

        <div class="profile-info">
            <p><strong>Email :</strong> {{ user.email }}</p>
            <p><strong>Date de naissance :</strong> {{ user.date_de_naissance }}</p>
            <p><strong>Genre :</strong> {{ user.get_genre_display }}</p>
        </div>
        <a href="{% url 'deconnexion' %}" class="btn logout-btn">Se déconnecter</a>
    </div>
</body>
</html>
