<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recherche</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'utilisateurs/navigation.css' %}">
    <link rel="stylesheet" href="{% static 'utilisateurs/recherche.css' %}">
    <link rel="icon" type="image/png" href="{% static 'restaurant/img/misso_logo_old.jpg' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>    
<body>
    <header>
        <nav>
            <div class="logo">         
                <a href="{% url 'page_view' 'accueil' %}#accueil">
                  <img class="mini_logo" src="{% static 'restaurant/img/logo_jaune.png' %}" alt="MiSSO"/>
                </a>
            </div>
                <span onclick="show()"  class="nav-menu-icon" id="nav-menu-icon">☰ </span> 
                <div id="nav-menu" class="nav-menu">
                <ul >
                <li><a href="{% url 'menu' 'traiteur' %}">Traiteur</a></li>
                <li><a href="{% url 'menu' 'hanok' %}">Hanok Restaurant</a></li>
                <li><a href="{% url 'menu' 'rooftop' %}">Terrasse</a></li>
                <li><a href="{% url 'evenements' %}">Evenements</a></li> 
                  <!--  <li><a href="{% url 'page_view' 'institut'%}">Institut</a></li>  -->           
                <li><a href="{% url 'page_view' 'a-propos' %}">À propos</a></li>
                <li ><a href="{% url 'recherche' %}">Recherche</a></li>
                <li ><a href="{% url 'page_view' 'accueil' %}#contact">Contact</a></li>
                {% if user.is_authenticated %}
                  <li>  <a href="{% url 'profil' %}" class="btns">Profil</a></li>
                {% else %}
                    <li>   <a href="{% url 'connexion' %}" class="btns">Se connecter</a></li>
                {% endif %}
                </ul>
                </div>
        </nav>
        <script>
            function show() {
                var menu = document.getElementById("nav-menu");
                var icon = document.getElementById("nav-menu-icon");
                if (menu.style.display === "none") {
                     menu.style.display = "block";
                     icon.style.color = "white"; 
                } else {
                        menu.style.display = "none";
                        icon.style.color = "rgb(218, 141, 32)"; 
                 
                }
            }
        </script>
    </header>

    <div class="main">
        <div class="recherche-container">
            <h2>Recherche</h2>
            <form method="post" action="{% url 'recherche' %}">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" name="name" placeholder="Key words">
                    <button type="submit" class="btn">
                        <i class="fa fa-search"></i>
                    </button>
                </div>

                <select name="type" onchange="this.form.submit()">
                    <option value="default" {% if type == "default" %}selected{% endif %}>Tous les types</option>
                    <option value="nourriture" {% if type == "nourriture" %}selected{% endif %}>Nourriture</option>
                    <option value="événement" {% if type == "événement" %}selected{% endif %}>Événement</option>
                </select>

                {% if type == "nourriture" %}
                    <select name="nourriture" onchange="this.form.submit()">
                        <option value="default" {% if nourriture == "default" %}selected{% endif %}>Tous les nouritures</option>
                        <option value="plat" {% if nourriture == "plat" %}selected{% endif %}>Plat</option>
                        <option value="boisson" {% if nourriture == "boisson" %}selected{% endif %}>Boisson</option>
                    </select>

                    {% if nourriture == "plat" or nourriture == "boisson" %}
                        <select name="categorie">
                            <option value="default">Toutes les catégories</option>
                            {% if nourriture == "plat" %}
                                {% for categorie in categoriesPlats %}
                                    <option value="{{ categorie.id }}" {% if categorie.id|stringformat:"s" == categorie_selected %}selected{% endif %}>
                                        {{ categorie.nom }}
                                    </option>
                                {% endfor %}
                            {% elif nourriture == "boisson" %}
                                {% for categorie in categoriesBoissons %}
                                    <option value="{{ categorie.id }}" {% if categorie.id|stringformat:"s" == categorie_selected %}selected{% endif %}>
                                        {{ categorie.nom }}
                                    </option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    {% endif %}
                {% endif %}
            </form>
        </div>
    </div>


    <section id="resultat" class="resultat">
        {% if plats or boissons %}
            <div class="menu-container">
                {% if plats %}
                    <ol class="plats">
                        {% for item in plats %}
                            <li class="menu-item">
                                <p class="nom">{{ item.nom }}</p> 
                                <p class="prix">- {{ item.prix }}€</p><br>
                                {% if item.image_path %}
                                    <img src="{% static item.image_path %}" alt="{{ item.nom }}"><br>
                                {% endif %}<br>
                                <pre><p class="description"> {{ item.description }}</p></pre>
                            </li><br>
                        {% endfor %}
                    </ol>
                {% endif %}
                {% if boissons %}
                    <ol class="boisson">
                        {% for item in boissons %}
                            <li class="menu-item">
                                <p class="nom">{{ item.nom }}</p>
                                {% if item.prixVerre %}
                                    <p class="prix">- {{ item.prixVerre }}€</p><br>
                                {% endif %}
                                {% if item.prixBouteille %}
                                    <p class="prix">- {{ item.prixBouteille }}€</p><br>
                                {% endif %}
                                {% if item.image_path %}
                                    <img src="{% static item.image_path %}" alt="{{ item.nom }}"><br>
                                {% endif %}<br>
                                <pre><p class="description"> {{ item.description }}</p></pre>
                            </li><br>
                        {% endfor %}
                    </ol>
                {% endif %}
            </div>
        {% endif %}
 
        {% if evenements %}
            <div class="evenements-container">
                <ul>
                    {% for evenement in evenements %}
                        {% if evenement.est_valide %}
                            <li class="btns" onclick='location.href="{{ evenement.get_absolute_url }}";'>
                                <span>{{ evenement.date }} :  {{ evenement.titre }}</span>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
          
        {% if not plats and not boissons and not evenements %}
            <p>Aucune résultat trouvée.</p>
        {% endif %}
    </section>
 
    <section id="contact" class="contact">
        <h2>Nous contacter</h2>
        <p>📍 **123 Rue des Délices, 75013 Paris, France**</p>
        <p>📞 **+33 1 23 45 67 89**</p>
        <p>📧 **contact@misso-paris.fr**</p>
    </section>

    <footer>
        <p>&copy; 2025 MiSSO - Culture et Cuisine Coréenne en France | Tous droits réservés</p>
    </footer>
</body>
</html>
