/* Import d'une police élégante */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

/* Style global */
body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    display: block;
    overflow-y: auto;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('../restaurant/img/texture.jpg');
}

.mini_logo {
    width: auto; /* Préserve les proportions de l'image */
    height: auto; /* Préserve également les proportions */
    max-width: 5%; /* Contrôle la largeur maximale tout en gardant les proportions */
    max-height: 5%;
    position: absolute; /* Permet un placement précis */
    top: 0 ; /* Place l'image en haut de l'écran */
    left: 0; /* Place l'image à gauche de l'écran */
    margin: 10px;
}

.main {
    min-height: 100vh;
    position: relative;
    width: 100%;
    height: 100%;
    
    margin: 0;
    padding: 0;
    background-image: url('../restaurant/img/texture.jpg');

    padding-bottom: 1%;
}

.restaurants {
    position: relative;
    background-color:rgb(146, 146, 136);
    padding-bottom: 1%;
}
.image-content{
    max-width: 100%;
    border-radius: 12px;
    display: none;
    max-width: 100%;
    height: auto;
     
}

.main div {
    position: block;
    z-index: 1;
    height: 30%;
    text-wrap: balance;
    color: rgb(15, 43, 36);
    margin-left: 0;
    margin-right: 0;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: left;
    line-height: 1.5;
    border-radius: 0;
    /*background-color: beige;*/    
    border: solid darkgoldenrod;
    overflow: auto;
    cursor: pointer;
    align-content: right;
    transition: transform 0.3s ease, background-color 0.3s ease;
}


  
.center img {
    width: 45%; /* Taille par défaut de l'image */
    height: auto; /* Maintient les proportions */
    transition: width 0.5s ease; /* Transition fluide pour le redimensionnement */
    transition: z-index 0.3s ease;
}

.about, .contact {
    text-align: center;
    padding: 50px;
    background: rgb(15, 43, 36);
    color: goldenrod;
}

footer {
    background: rgb(15, 43, 36);
    color: goldenrod;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

/* Animation au survol */
.main div:hover {
    background-color: lightyellow; /* Couleur légèrement modifiée */
}

/* Media Queries pour rendre les divs et les polices responsive */
@media (max-width: 1024px) {
    .main div {
        font-size: 0.9rem; /* Taille de police par défaut */
    }

    .center img {
        width: 70%; /* Réduit la taille de l'image pour les tablettes */
    }
}

@media (max-width: 768px) {
    .main div {
        font-size: 0.8rem; /* Taille de police par défaut */
    }

    .center img {
        width: 100%; /* Réduit la taille de l'image pour les tablettes */
    }

}

@media (max-width: 480px) {
    .main div {
        font-size: 0.6rem; /* Taille de police par défaut */
    }


}