/* Import d'une police élégante */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

/* Style global */
body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    display: block;
    overflow-y: auto;
    min-height: 100vh;
    background-color: beige;
}

.main {
    min-height: 80vh;
    position: relative;
    width: 100%;
    height: 100%;
    background-color:beige;
    background-size: cover;
    background-position: center;
    padding-bottom: 1%;
}

.restaurants {
    position: relative;
    background-color:rgb(146, 146, 136);
    padding-bottom: 1%;
}
.image-content{
    max-width: 100%;
    border-radius: 12px;
    display: none;
    max-width: 100%;
    height: auto;
     
}


  
.center img {
    width: 45%; /* Taille par défaut de l'image */
    height: auto; /* Maintient les proportions */
    transition: width 0.5s ease; /* Transition fluide pour le redimensionnement */
    transition: z-index 0.3s ease;
}

.about, .contact {
    text-align: center;
    padding: 50px;
    background: black;
    color: goldenrod;
}

footer {
    background: black;
    color: goldenrod;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
/* Media Queries pour rendre les divs et les polices responsive */
@media (max-width: 1024px) {
    .main div {
        font-size: 0.9rem; /* Taille de police par défaut */
    }

    .center img {
        width: 70%; /* Réduit la taille de l'image pour les tablettes */
    }
}

@media (max-width: 768px) {
    .main div {
        font-size: 0.8rem; /* Taille de police par défaut */
    }

    .center img {
        width: 100%; /* Réduit la taille de l'image pour les tablettes */
    }

}

@media (max-width: 480px) {
    .main div {
        font-size: 0.6rem; /* Taille de police par défaut */
    }


}
.description {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 10px;
}

/* Content Section */
[content]{
    max-width: 800px;
    margin: 1% auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



/* List Styles */
.evenements ul {
    list-style-type: none;
    padding: 0;
}

.evenements  li {
    padding: 10px;
    background-color: #fafafa;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    transition: color 0.3s;
    cursor:pointer;
}


.evenements ul li:hover {
    color: black;
}

/* Empty Message */
.evenements p {
    text-align: center;
    color: #777;
    font-style: italic;
}

/* Responsive Styles */
@media (max-width: 600px) {
    .content {
        padding: 15px;
    }

    h1 {
        font-size: 20px;
    }

    li {
        font-size: 14px;
    }
}
