/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: black;
    top: 0;
    left: 0;
    z-index: 1000;
    text-align: center;
}

nav .logo {
    font-size: 24px;
    font-weight: bold;
    color: goldenrod;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: goldenrod;
    ;
    font-weight: 500;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f3f0e4;
}

/* Bouton */
.btns {
    background-color: darkgoldenrod;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
}

.btns:hover {
    background-color: goldenrod;
}

/* ...existing code... */

/* Media Queries */
@media (max-width: 1100px) {
    nav {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .btns {
        padding: 8px 16px;
    }
}