<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiSSO - Restaurant Coréen à Paris</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'utilisateurs/objets.css' %}">
    <link rel="stylesheet" href="{% static 'utilisateurs/navigation.css' %}">
    <link rel="icon" type="image/png" href="{% static 'restaurant/img/misso_logo_old.jpg' %}">
</head>    
<body>
    <header>
        <nav>
            <div class="logo">         
                <a href="{% url 'page_view' 'accueil' %}#accueil">
                  <img class="mini_logo" src="{% static 'restaurant/img/logo_jaune.png' %}" alt="MiSSO"/>
                </a>
            </div>
                <span onclick="show()"  class="nav-menu-icon" id="nav-menu-icon">☰ </span> 
                <div id="nav-menu" class="nav-menu">
                <ul >
                <li><a href="{% url 'menu' 'traiteur' %}">Traiteur</a></li>
                <li><a href="{% url 'menu' 'hanok' %}">Hanok Restaurant</a></li>
                <li><a href="{% url 'menu' 'rooftop' %}">Terrasse</a></li>
                <li><a href="{% url 'evenements' %}">Evenements</a></li> 
                 <!--  <li><a href="{% url 'page_view' 'institut'%}">Institut</a></li>  -->          
                <li><a href="{% url 'page_view' 'a-propos' %}">À propos</a></li>
                <li><a href="{% url 'recherche' %}">Recherche</a></li>
                <li><a href="{% url 'page_view' 'accueil' %}#contact">Contact</a></li>
                <li>
                    {% if user.is_authenticated %}
                        <a href="{% url 'profil' %}" class="btns">Profil</a>
                    {% else %}
                        <a href="{% url 'connexion' %}" class="btns">Se connecter</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
        <script>
            function show() {
                var menu = document.getElementById("nav-menu");
                var icon = document.getElementById("nav-menu-icon");
                if (menu.style.display === "none") {
                     menu.style.display = "block";
                     icon.style.color = "white"; 
                } else {
                        menu.style.display = "none";
                        icon.style.color = "rgb(218, 141, 32)"; 
                 
                }
            }
        </script>
    </header>    
    <h1 class="title">{% block title %}{% endblock %}</h1>
    <div class="content">
       <p>{% block content %}{% endblock %}</p>
  

<section id="contact" class="contact">
    <h2>Nous contacter</h2>
    <p>📍 **123 Rue des Délices, 75013 Paris, France**</p>
    <p>📞 **+33 1 23 45 67 89**</p>
    <p>📧 **contact@misso-paris.fr**</p>
</section>

<footer>
    <p>&copy; 2025 Misso - Culture et Cuisine Coréenne en France | Tous droits réservés</p>
</footer>
</body>
</html>