{%extends "objets_connectes/base.html"%}
{%block title%}Modifier l'Objet : {{ objet.nom }}t{%endblock%}
{%block content%}
    <form method="post">
        {% csrf_token %}
        <label for="nom">Nom :</label>
        <input type="text" name="nom" id="nom" value="{{ objet.nom }}" required>
        <label for="description">Description :</label>
        <textarea name="description" id="description">{{ objet.description }}</textarea>
        <button type="submit">Enregistrer</button>
    </form>
    <a href="{% url 'liste_objets' %}">Annuler</a>
{%endblock%}